
<html>
 <head>
    <title>The Gossip Project</title>
  </head>
  <body bgcolor=”#800000" text="#ffffff">
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Créer un potin</a>
<% gossips.each do |gossip| %>
  <p>
  <h4><%= gossip.content %></h4>
    <%= gossip.author %>
  </p>
<% end %>
  </body>
</html>
